<head>
  <script type="text/javascript">
      $(document).ready(function () {

var navListItems = $('div.setup-panel div a'),
    allWells = $('.setup-content'),
    allNextBtn = $('.nextBtn');

allWells.hide();

navListItems.click(function (e) {
    e.preventDefault();
    var $target = $($(this).attr('href')),
        $item = $(this);

    if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-success').addClass('btn-default');
        $item.addClass('btn-success');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
    }
});

allNextBtn.click(function () {
    var curStep = $(this).closest(".setup-content"),
        curStepBtn = curStep.attr("id"),
        nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
        curInputs = curStep.find("input[type='text'],input[type='url']"),
        isValid = true;

    $(".form-group").removeClass("has-error");
    for (var i = 0; i < curInputs.length; i++) {
        if (!curInputs[i].validity.valid) {
            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
    }

    if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
});

$('div.setup-panel div a.btn-success').trigger('click');
});
  </script>
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">


<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      <a href="/profilecitoyen"><img src="{{ currentUser.image }}"  alt="{{ currentUser.username }}" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm"></a>
      <div class="media-body">
        <h4 class="m-0">{{currentUser.firstname}} {{currentUser.lastname}}</h4>
      </div>
    </div>
  </div>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/demandepermis" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Demande de permis de conduire
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Demande de carte grise
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Demance de CIN
            </a>
    </li>
  </ul>
</div>



<div class="page-content p-5" id="content">
     <div class="stepwizard">
         <div class="stepwizard-row setup-panel">
             <div class="stepwizard-step col-xs-3"> 
                 <a href="/demandepermis" type="button" class="btn btn-success btn-circle">1</a>
                 <p><small>Demande duplicatat permis</small></p>
             </div>
             <div class="stepwizard-step col-xs-3"> 
                 <a href="/step2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                 <p><small>Vérification</small></p>
             </div>
             <div class="stepwizard-step col-xs-3"> 
                 <a href="/step3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                 <p><small>Vérification num permis</small></p>
             </div>
             <div class="stepwizard-step col-xs-3"> 
                 <a href="/step4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                 <p><small>Suivi duplicatat permis</small></p>
             </div>
         </div>
     </div>
     
     <form role="form">
         <div class="panel panel-primary setup-content" id="step-1">
             <div class="panel-heading">
                  <h3 class="panel-title">Demande duplicatat permis</h3>
             </div>
             <div class="panel-body">
                 <div class="form-group">
                  <button style="background-color: #e7e7e7; color: black;border-radius: 8px;font-size: 16px;"><a href="/step2" style="text-decoration: none;">Demande duplicatet permis</a></button>               
                </div>
                 <button class="btn btn-primary nextBtn pull-right" type="button"><a href="/step2" style="text-decoration: none;color: snow;">Next</a></button>
             </div>
         </div>
         
     </form>
 
</div>

