body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
  }

  .wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .cadre {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
  }
  .cadre h2 {
    margin: 5px 0 0;
    font-size: 15px;
  }

  .cadre2 {        
    padding-bottom: 15px;
    background: rosybrown;
    color: snow;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
  }
  .cadre2 h2 {
    margin: 5px 0 0;
    font-size: 15px;
  }