<div style="background-color:#f0f0f0">
<button style="border:none;outline:none;background-color: Transparent;" mat-dialog-close ><mat-icon>clear</mat-icon></button>

<div style="width:1000px;background-color: #f0f0f0;" class="container">
    <div class="row" style="text-align: center;">
      <img src="../assets/images/thegreentitle.png" width="300" height="110">
      <h1 style="color:white;text-align: center;position:relative;bottom:87px;">تعديل هدف للمشروع  </h1>
    </div>
   
  
  <form (ngSubmit)="processForm()">
    <div style="display:inline-block;width:970px;">
  
    <div class="form-group col-md-6" [class.has-error]="libelleControl.invalid && libelleControl.touched">
      <label class="control-label"> التسمية</label>
      <input style="height:50px;" type="text" class="form-control" required [(ngModel)]="objectif.libelle" id="libelle" name="libelle" #libelleControl="ngModel">
    <span class="help-block" *ngIf="libelleControl.invalid && libelleControl.touched">هذه الخانة إجبارية</span>
    </div>
  
  
    <div class="form-group col-md-6" [class.has-error]="codeControl.invalid && codeControl.touched">
      <label  class="control-label">الرمز</label>
      <input style="height:50px;" type="text" class="form-control" required [(ngModel)]="objectif.code" id="code" name="code" #codeControl="ngModel">
  
      <span class="help-block" *ngIf="codeControl.invalid && codeControl.touched">هذه الخانة إجبارية</span>
  
    </div>
  </div>
  
  <div class="form-group" [class.has-error]="descriptionControl.invalid && descriptionControl.touched">
    <label style="position:relative;right:15px" >الوصف</label>
    <input style="position:relative;right:15px;width:940px;height:50px;" type="text" class="form-control" required [(ngModel)]="objectif.description" id="description" name="description" #descriptionControl="ngModel">
    <span class="help-block" *ngIf="descriptionControl.invalid && descriptionControl.touched">هذه الخانة إجبارية</span>
  
  </div>
  
  <div class="form-group" [class.has-error]="typeObjectifControl.invalid && typeObjectifControl.touched">
    <label style="position:relative;right:15px" >النوع</label>
    <select style="height:50px;position:relative;right:15px;width:940px" class="form-control" [(ngModel)]="objectif.type_objectif" id="type_objectif" name="type_objectif" #typeObjectifControl="ngModel">
      <option value='' disabled selected>lieu</option>
      <option *ngFor="let typeObjectifNom of typeObjectifKeys" [value]="typeObjectif[typeObjectifNom]"> {{typeObjectif[typeObjectifNom]}} </option>
  
    </select>
    <span class="help-block" *ngIf="typeObjectifControl.invalid && typeObjectifControl.touched">هذه الخانة إجبارية</span>
  
  </div>
  
  
  
  <button type="submit" style="position:relative;right:450px;" class="btn btn-primary">تعديل </button>
  
  
  
  </form>
  
  
  
  
  </div>
  </div>