<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a><img src="assets/logotunis.jpg" width="40px" height="50px"/>
    </a>
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a>Home </a>
      </li>
      <li class="nav-item">
        <a>List Citoyen</a>
      </li>
      <li class="nav-item">
        <a >Form Citoyen</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link">Agent Board</a>
      </li>
      <li class="nav-item">
        <a >Permis</a>
      </li>
      <li class="nav-item">
        <a >Carte gris</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >Citoyen</a>
      </li>
      <li class="nav-item">
        <a >Form</a>
      </li>
    </ul>
    
  </nav>
</div>