<mat-expansion-panel class="mat-elevation-z0" #thisPanel hideToggle>
  <mat-expansion-panel-header class="disable_ripple">
 
  <div *ngIf="!thisPanel.expanded">	<mat-icon>add</mat-icon></div>
  <div *ngIf="thisPanel.expanded"><mat-icon>clear</mat-icon></div>
  </mat-expansion-panel-header>
<div class="container">
  <div class="row" style="text-align: center;">
    <img src="../assets/images/thebluetitle.png" width="300" height="110">
    <h1 style="color:white;text-align: center;position:relative;bottom:87px;">إضافة طلب عرض </h1>
  </div>
  <br>
    <br>
<form class="rtl" (ngSubmit)="onSubmit()" >


  <div style="display:inline-block;width:1145px;">
  <div class="form-group col-md-6" [class.has-error]="libelleControl.invalid && libelleControl.touched">
    <label >التسمية </label>
    <input style="height: 50px" type="text" class="form-control" required [(ngModel)]="appelOffre.libelle" id="libelle" name="libelle" #libelleControl="ngModel">
    <span class="help-block" *ngIf="libelleControl.invalid && libelleControl.touched">هذه الخانة إجبارية</span>

  </div>

  <div class="form-group col-md-6" [class.has-error]="codeControl.invalid && codeControl.touched">
    <label >الرمز  </label>
    <input style="height: 50px" type="text" class="form-control" required [(ngModel)]="appelOffre.code" id="code" name="code" #codeControl="ngModel">
    <span class="help-block" *ngIf="codeControl.invalid && codeControl.touched">هذه الخانة إجبارية</span>

  </div>
</div>
 

  
<div style="display:inline-block;width:1145px;">
  <div class="form-group col-md-6" [class.has-error]="montantEstimeControl.invalid && montantEstimeControl.touched">
    <label >المبلغ التقديري   </label>
    <input style="height: 50px" type="number" class="form-control" required [(ngModel)]="appelOffre.montant_estime" id="montant_estime" name="montant_estime" #montantEstimeControl="ngModel">
    <span class="help-block" *ngIf="montantEstimeControl.invalid && montantEstimeControl.touched">هذه الخانة إجبارية</span>

  </div>


  <div class="form-group col-md-6"  [class.has-error]="dateAppelOffreControl.invalid && dateAppelOffreControl.touched">
    <label >                تاريخ طلب العرض &nbsp;&nbsp;&nbsp;&nbsp;
  </label>
  <mat-form-field appearance="fill" [style.width.px]=540>
  <mat-label>إختيار تاريخ </mat-label>
  <input  matInput [matDatepicker]="picker4" required [(ngModel)]="appelOffre.date_appel_offre" id="date_appel_offre" name="date_appel_offre" #dateAppelOffreControl="ngModel">
  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
  <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field>
  <span class="help-block" *ngIf="dateAppelOffreControl.invalid && dateAppelOffreControl.touched">هذه الخانة إجبارية</span>

  </div>
</div>
  
 
  
<div style="display:inline-block;width:1145px;">
  <div class="form-group col-md-6" [class.has-error]="dateActualisationControl.invalid && dateActualisationControl.touched">
    <label >                تاريخ التحيين &nbsp;&nbsp;&nbsp;&nbsp;
  </label>
  <mat-form-field appearance="fill" [style.width.px]=540>
  <mat-label>إختيار تاريخ </mat-label>
  <input  matInput [matDatepicker]="picker3" required [(ngModel)]="appelOffre.date_actualisation" id="date_actualisation" name="date_actualisation" #dateActualisationControl="ngModel">
  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
  <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <span class="help-block" *ngIf="dateActualisationControl.invalid && dateActualisationControl.touched">هذه الخانة إجبارية</span>

  </div>

  <div class="form-group col-md-6" [class.has-error]="montantActualiseControl.invalid && montantActualiseControl.touched">
    <label > المبلغ محيّن  </label>
    <input style="height: 50px" type="number" class="form-control" required [(ngModel)]="appelOffre.montant_actualise" id="montant_actualise" name="montant_actualise" #montantActualiseControl="ngModel">
    <span class="help-block" *ngIf="montantActualiseControl.invalid && montantActualiseControl.touched">هذه الخانة إجبارية</span>

  </div>
</div>

  <div style="position:relative;right:13px;" [class.has-error]="etatControl.invalid && etatControl.touched">
    <label >etat </label>
    <select class="form-control" [(ngModel)]="appelOffre.etat" id="etat" name="etat" #etatControl="ngModel" style="height: 50px;width:1120px;">
      <option value='' disabled selected>etat</option>
      <option *ngFor="let etatNom of etatsKeys" [value]="etatAppelOffre[etatNom]"> {{etatAppelOffre[etatNom]}} </option>

    </select>
    <span class="help-block" *ngIf="etatControl.invalid && etatControl.touched">هذه الخانة إجبارية</span>

  </div>
    
<br>

<button style="position:relative;right:540px;top:40px;" type="submit" class="btn btn-primary">إضافة </button>
</form>
</div>
<br>
<br>
</mat-expansion-panel>