<button style="border:none;outline:none;background-color: white;position: relative;left:25px;bottom:20px" mat-dialog-close ><mat-icon>clear</mat-icon></button>
<br>
<a>الرمز : </a>{{decomposition.code}}
<br>
<a>التسمية : </a>{{decomposition.libelle}}
<br>
<a>المبلغ : </a>{{decomposition. montant}}
<br>
<a>تاريخ الإنطلاق : </a>{{decomposition.date_debut}}
<br>
<a>تاريخ الإنطلاق محيّن : </a>{{decomposition.date_debut_actualisee}}
<br>
<a>تاريخ الإنتهاء : </a>{{decomposition.date_fin}}
<br>
<a>تاريخ الإنتهاء محيّن : </a>{{decomposition.date_fin_actualisee}}
<br>
<a>النوع : </a>{{decomposition.type_decomposition}}
<br>
<a>مستوى التقدم : </a>{{decomposition.niveau_decomposition}}

